.category {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 60vh;
}

@media screen and (max-width: 1000px) {
  .category {
    grid-template-columns: 150px 1fr;
  }
}

@media screen and (max-width: 650px) {
  .category {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  max-width: var(--container-width);
  padding: 0 1rem;
  margin: 0 auto;
}
