.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.collection {
  height: 550px;
  display: flex;
}

.collection__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  justify-content: center;
}

.collection__photo {
  width: 55%;
  overflow: hidden;
}

.collection__img {
  width: 100%;
  height: auto;
}

.collection__title {
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 300px;
}

.collection__btn {
  margin-top: 3rem;
  text-transform: uppercase;
  color: #000;
  font-size: 1.6rem;
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}
