.wrapper {
  max-width: var(--container-width);
  margin: 0 auto;
}

.collection {
  height: 550px;
  display: flex;
}

.collection__content {
  position: relative;

  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  justify-content: center;
}
.collection__special {
  position: relative;

  display: inline-block;
}

.collection__special:last-of-type::before {
  position: absolute;

  content: '';
  display: block;
  bottom: 1rem;
  left: 0;
  height: 40%;
  width: 100%;
  background: #0588a2;
  z-index: -1;
}

.collection__special__bg:last-of-type::before {
  background: #4f6161;
}

.collection__content::before {
  position: absolute;

  content: '';
  height: 6rem;
  width: 10rem;
  bottom: 0;
  left: 0;
  width: 100%;
}
.collection__content:nth-child(odd)::before {
  background: #0588a2;
}
.collection__content:nth-child(even)::before {
  background: #4f6161;
}

.collection__photo {
  width: 55%;
  overflow: hidden;
}

.collection__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection__title {
  font-size: var(--fs-extra);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  width: 300px;
}

.collection__btn {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: var(--fs-small-1);
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 14rem;
  background: var(--bg-dark-color);
  color: var(--text-light-color);
  text-decoration: none;
}

.collection__btn svg {
  margin-left: 0.4rem;
}

.feature {
  background: var(--bg-dark-color);
}

.feature__wrapper {
  display: grid;
  grid-template-columns: 300px repeat(3, 1fr);
  padding: 3rem 1rem;
  align-items: center;

  max-width: var(--container-width);
  margin: 0 auto;
}

.feature__title {
  font-size: var(--fs-small-1);
  margin-bottom: 1rem;
  font-weight: var(--font-regular);
  text-transform: uppercase;
}

.feature__box {
  color: var(--text-light-color);
  text-align: center;
}

.feature__form {
  color: var(--text-light-color);
}

.feature__box p {
  color: var(--text-dark-gray-color);
  font-size: var(--fs-small);
}

.form {
  height: 3rem;
  display: flex;
}

.form__btn {
  border: none;
  height: 100%;
  width: 5rem;
  background: var(--text-dark-gray-color);
  color: var(--text-light-color);
  text-transform: uppercase;
  font-size: var(--fs-small);
  cursor: pointer;
}

.form__input {
  height: 100%;
  border: none;
  text-indent: 1rem;
}
