.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 60vh;
}

.product__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product__inner {
  display: grid;
  grid-template-columns: 300px 350px;
  grid-template-rows: 400px;
  justify-content: center;
  align-content: center;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 2rem;
  border-left: 3px solid var(--bg-dark-color);
}

.product {
  max-width: var(--container-width);
  padding: 0 1rem;
  margin: 0 auto;
}

.brand {
  color: var(--text-drak-gray-color);
}

.desc {
  font-size: var(--fs-regular);
  margin: 3rem 0;
}

.price {
  font-size: var(--fs-big);
}

.product__btn__group {
  display: flex;
  flex-direction: column;
}
.product__btn {
  text-transform: uppercase;
  font-size: var(--fs-small-1);
  background: transparent;
  border: none;
  cursor: pointer;
  height: 4rem;
  width: 100%;
  background: var(--bg-dark-color);
  color: var(--text-light-color);
}
.product__btn:disabled {
  cursor: not-allowed;
}

.product__btn__favorite {
  width: 5rem;
  background: transparent;
  margin-left: 1rem;
  cursor: pointer;
  border: 1px solid var(--bg-dark-color);
  color: var(--bg-dark-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.product__add__group {
  display: flex;
}
.product__select__group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.select__label {
  font-size: var(--fs-small-1);
  text-transform: uppercase;
}
.select {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  height: 4rem;
  width: 100%;

  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .product__photo {
    overflow: hidden;
    height: 250px;
    width: 180px;
  }
  .product__inner {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .product__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .product__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 350px;
  }
  .product__content {
    border-left: none;
    border-top: 3px solid var(--bg-dark-color);
  }
}
