.header {
  max-width: var(--container-width);
  margin: 0 auto;
}

.header__inner {
  display: grid;
  grid-template-columns: 150px 1fr 300px;
  grid-template-rows: 100px;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 100%;
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartDropDown__wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  right: 0;
  background: rgb(255, 255, 255);
  height: 2px;
  width: 28px;
}

.button {
  min-width: 12rem;
  height: 4rem;
  background: var(--bg-dark-color);
  border: none;
  cursor: pointer;
  color: var(--text-light-color);
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
}

.nav__link {
  margin-right: 2rem;
  font-size: var(--fs-regular);
  text-decoration: none;
  color: var(--bg-dark-color);
  text-transform: uppercase;
}

.nav__item {
  list-style: none;
}
