.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
  border-right: 3px solid var(--bg-dark-color);
}

.sidebar__title {
  font-size: var(--fs-regular-2);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--bg-dark-color);
}

.sidebar__nav {
  margin-top: 1rem;
}

.sidebar__item {
  font-weight: var(--font-regular);
  text-transform: uppercase;
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  text-decoration: none;
  color: var(--text-dark-gray-color);
  padding: 1rem;
  min-width: 8rem;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.sidebar__link__active,
.sidebar__link:active,
.sidebar__link:hover {
  color: var(--bg-dark-color);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--bg-dark-color);
    border-top: 3px solid var(--bg-dark-color);
    border-right: none;
  }
  .sidebar__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
