.products {
  position: relative;
  display: grid;
  gap: 30px;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  list-style: none;
  justify-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.products__info {
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: var(--fs-regular-2);
  font-weight: var(--font-bold);
}

.product:hover .product__img {
  transform: scale(1.1);
}

.product {
  width: 250px;
}
.product__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  color: var(--bg-dark-color);
}
.product__price {
  margin-top: 1rem;
  align-self: flex-start;
}

.product__photo {
  overflow: hidden;
  height: 350px;
}
.product__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.link {
  text-decoration: none;
}
